/* BasicTable.css */

.container {
  display: flex;
  align-items: flex-start;
}

.table-wrapper {
  margin-top: 7%;
  width: calc(100% - 250px);
  max-width: calc(100% - 250px);
  margin-left: 0;
}

.highlight-header {
  font-weight: bold;
  background: #f0f0f0;
  color: #3b3333;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  font-size: 0.9rem;
  background: linear-gradient(45deg, #f3f3f3, #e2e2e2);
  border-bottom: 2px solid #5A00E1;
}

.columnName {
  font-size: 0.85rem;
  font-weight: 600;
}

tr:hover {
  background-color: #eaf3ff;
  transition: background-color 0.3s ease;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
  background-color: #fafafa;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-header-icon {
  display: none;
  margin-top: 4px;
}

.sidebar {
  padding-top: 100px;
  width: 200px;
  position: relative;
  height: auto;
  max-height: 60vh;
  overflow-y: auto;
}

.sidebar .MuiFormControl-root {
  margin-bottom: 15px;
}

.sidebar .MuiInputBase-input {
  font-size: 0.75rem;
}

.sidebar .MuiFormControl-root .MuiOutlinedInput-root {
  border-radius: 10px;
  border-color: #5A00E1;
  transition: border-color 0.3s;
}

.sidebar .MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-color: #5A00E1 !important;
}

.sidebar .MuiSelect-select {
  padding: 12px;
  font-weight: 500;
}

.sidebar .MuiSelect-icon {
  color: #5A00E1;
}

.sidebar .MuiInputLabel-root {
  font-size: 0.75rem;
  color: #5A00E1;
}

.sidebar .MuiCheckbox-root {
  color: #5A00E1;
}

.sidebar .MuiCheckbox-root.Mui-checked {
  color: #5A00E1 !important;
}

.sidebar .MuiInputBase-input::placeholder {
  color: #5A00E1;
}

.sidebar .MuiListItemText-primary {
  font-size: 0.75rem;
}

/* Button styling */
.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #5A00E1 30%, #00C2FF 90%);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 3px 5px 2px rgba(90, 0, 225, 0.3);
}

.custom-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 7px 3px rgba(90, 0, 225, 0.3);
}

.custom-button-icon {
  margin-right: 8px;
}

.add-request-button {
  /* background-color: #58D64D; */
  color: white;
  /* margin-left: 40px;
  padding: 10px 20px; */
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s ease;
  height: 65px;
  width: 170px;
}

.add-request-button:hover {
  background-color: #45B039;
  /* transform: translateY(-2px); */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
