.highlight-header {
  font-weight: bold;
  background-color: #f0f0f0; 
  color: #3b3333; 
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
  font-size: 0.9rem; 
}
tr:hover {
  background-color: #f1f1f1;
}
.container {
  display: flex;
  align-items: flex-start; 
}

.table-wrapper {
  margin-top: 7%;
  width: calc(100% - 250px); 
  max-width: calc(100% - 250px); 
  margin-left: 0; 
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.header h1 {
  margin: 0;
  font-size: 20px;
}

.content {
  margin-top: 60px; 
  padding: 10px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #f8f8f8;
  font-size: 0.8rem;
  }

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

.table-header-icon {
  display: none;
    margin-top: 4px;
}

.sidebar {

  padding-top: 100px;
  width: 200px; 
  position: relative;
  height: auto;
  max-height: 60vh;
  overflow-y: auto; 



}

.sidebar .MuiButton-root {
  background-color: #58D64D

;
  color: white; 
  width: 100%; 
  font-size: 0.8rem; 

  ; 


}

.sidebar .MuiButton-root:hover {
  background-color: #58D64D
  ; 
}


.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
} */
 
 #header{
  color:  #00C2FF;
  ;
 }
 .avatar{
  background-color: #00C2FF !important;
  margin: 8px;
 }

.sidebar .MuiInputBase-input {

  font-size: 0.8rem; 

}
#dialog{
width: 100%;
}
.MuiSelect-root {
  color: black;
}

.MuiMenuItem-root {
  color: black;
}
#deleteButton{
  background-color: #58D64D;
  width: 15px;
  height: 30px;
}